<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/BinaryCodeLA" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/BinaryCodeLA" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-gitlab btn btn-link " href="https://gitlab.com/BinaryCodeLA" target="_blank">
        <i class="fa fa-gitlab fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>Lesner Villega &copy; All rights reserved.
      </p>
    </div>
  </footer>