<div class="section" id="contact" >
  <div class="cc-contact-information" style="background-color: #dadada;">
    <div class="container text-center">
      <div class="cc-contact">
        <div class="row">
          
          <div class="col-md-12 text-center">
            <div class="h2 text-center">Contacto</div>
            <div class="card" style="width: 18rem;" >
               
                
                  <div class="card-body">

                    <p class="mb-0">
                      <strong>Teléfono:</strong>                    
                    <a class="btn btn-custom" href="tel:+50577313300">Hazme una Llamada</a>
                   </p>
                    <div class="margin-down"></div>
                   <p class="mb-0">
                      <strong style="margin-right: 27px;">Correo:</strong>
                    
                    <a class="btn btn-custom" href="mailto:ing.lvillega@gmail.com?Subject=Contacto%20para%20desarrollo">Puedes Enviar Correo</a>
                   </p>
                    <div class="margin-down"></div>
                   <p class="mb-0">
                     <strong>Workana:</strong>
                     <a class="btn btn-custom" href="https://www.workana.com/freelancer/81cfafd964ffa17316448204ae44180e?utm_source=share-profile&utm_medium=email&utm_campaign=share-2020-06-19&fbclid=IwAR1S4ecKp05BIesHpoJEaUpxanXcVlUUI-JKVOkLGzKIV8F9p1ATS3TJ0qo" target="_blank">Contratarme aquí</a>
                   </p>
                    <div class="margin-down"></div>
                  </div>
                </div>
                 <div class="card" style="width: 18rem;" >
                  <div class="card-body">
                   
                   <a class="cc-facebook btn btn-link" href="https://www.facebook.com/BinaryCodeLA" target="_blank">
                      <i class="fa fa-facebook fa-2x " aria-hidden="true" style="font-size: 45px;"></i>
                      <li style="list-style: none;">Facebook</li>
                    </a>
                    
                    <a class="cc-twitter btn btn-link " href="https://twitter.com/BinaryCodeLA" target="_blank">
                      <i class="fa fa-twitter fa-2x " aria-hidden="true" style="font-size: 45px;"></i>
                      <li style="list-style: none;">Twitter</li>
                    </a>

                    <a class="cc-whatsapp btn btn-link " href="https://api.whatsapp.com/send?phone=+50577313300&text=deseo%20informaci%C3%B3n" target="_blank">
                      <i class="fa fa-whatsapp fa-2x " aria-hidden="true" style="font-size: 45px;"></i>
                      <li style="list-style: none;">Whatsapp</li>
                    </a>
                    
                     <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/lesner-villega-drc0de/" target="_blank">
                      <i class="fa fa-linkedin fa-2x " aria-hidden="true" style="font-size: 45px;"></i>
                      <li style="list-style: none;">Linkedin</li>
                    </a>

                    <a class="cc-gitlab btn btn-link " href="https://gitlab.com/BinaryCodeLA" target="_blank">
                      <i class="fa fa-gitlab fa-2x " aria-hidden="true" style="font-size: 45px;"></i>
                      <li style="list-style: none;">GitLab</li>
                    </a>

                  </div>
                </div>
     
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>


