.card {
	margin-right: 2%;
}
strong{
	margin-right: 15px;
}

 .card-body a i:hover {
  color: #00334D!important;
}
.btn-custom {
	background-color: #00334D;
}

.btn-custom:hover {
	color: #00334D;
	background-color: #979797;
}

.margin-down{
	margin-bottom: 10px;
}
.cc-contact {
	width: 100%;
	text-align: center;
}

.cc-contact-information .cc-contact {
    padding: 8% 0 8% 8%;
}