<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Habilidades</div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Inglés intermedio</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    Comprensión oral y escrita
                  </li>
                </ul>
              </div>
            </div>
          </div>
           <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Análisis</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    Clean Code, POO.
                  </li>
                </ul>
              </div>
            </div>
          </div>
           <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Estrategias</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    detectar y resolver problemas, Curiosidad,Autogestión, Comunicación
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Desarrollo ágil</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    Scrum, DevOps.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Programación</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    JavaScript, Angular, PHP, Laravel, HTML, CSS.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Bases de datos</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    SQL, MySQL, Sybase, SQLite
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Control de versiones</span>
              <div style="color: #545454">
                <ul>
                  <li>
                    Git, GitHub, GitLab, TFS
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

