<header>
  <div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top bg-primary">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" routerLink="/home" rel="tooltip"><b>Binary Code LA</b></a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                  aria-controls="navigation" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/home">Inicio</a>
            </li>
             <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/education">Educación</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/project">Proyectos</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/skill">Habilidades</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/contact">Contacto</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link smooth-scroll" routerLink="/reference">Referencias</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
