<div class="section" id="reference">
        <div class="container cc-reference">
          <div class="h4 mb-4 text-center title">Referencias</div>
          <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
              <ol class="carousel-indicators">
                <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                <li data-target="#cc-Indicators" data-slide-to="1"></li>
                <li data-target="#cc-Indicators" data-slide-to="2"></li>
                <li data-target="#cc-Indicators" data-slide-to="3"></li>
               
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 cc-reference-header">
                      <img src="assets/images/REFPsyreligion.png" alt="Image" />
                      <div class="h5 pt-2">Workana.com</div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 cc-reference-header">
                      <img src="assets/images/Beatriz.png" alt="Image" />
                      <div class="h5 pt-2">Workana.com</div>
                    </div>
                  </div>  
              </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 cc-reference-header">
                      <img src="assets/images/REFDesktop.png" alt="Image" />
                      <div class="h5 pt-2">Workana.com</div>
                    </div>
                  </div>  
              </div>

              <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 cc-reference-header">
                      <img src="assets/images/REFPsyReligion2.png" alt="Image" />
                      <div class="h5 pt-2">Workana.com</div>
                    </div>
                  </div>  
              </div>

            </div>
          </div>
        </div>
      </div>
