<div class="section first-section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Sobre mí</div>
              <p>
                Hola soy <b>Desarrollador de aplicaciones</b>, trabajo para una Empresa en el Sistema Financiero, el resto de mi tiempo lo dedico a <b>Proyectos Freelance</b>.
              </p>
              <p>
              Como <b>Freelancer</b>, he tenido la oportunidad de desarrollar sistemas integrando <b>Inteligencia Artificial con Azure; </b>en analítica para el área de Psicología.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Datos personales</div>
              <div class="row">
                <div class="col-sm-12">
                 <strong class="text-uppercase">Soy orginario de  Nicaragua </strong>
                </div>
              <!--   <div class="col-sm-8"> <strong class="text-uppercase"></strong></div> -->
              </div>
             <!--  <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">CUIL:</strong>
                </div>
                <div class="col-sm-8">20-41158042-4</div>
              </div> -->
              <div class="row mt-3">
                <div class="col-sm-12">
                  <strong>Actualmente estoy Casado y tengo </strong><i>un maravilloso hijo</i>
                </div>
               <!--  <div class="col-sm-8"> y tengo <i>un maravilloso hijo</i></div> -->
              </div>
             <!--  <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Localidad:</strong>
                </div>
                <div class="col-sm-8">Córdoba Capital
                </div>
              </div> -->
             <!--  <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Disponibilidad:</strong>
                </div>
                <div class="col-sm-8">Part time <i>(mañana)</i></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

