<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educación</div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2020</p>
            <div class="h5">Curso de ReactiveX</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Curso desarrollo Web Backend</div>
            <h4 class="category">Udemy.com
            </h4>
        <!--     <ul>
              <li>Actualmente cursando el últmo año
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

    
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2019</p>
            <div class="h5">Curso desarrollo Web</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Curso desarrollo con PHP, Laravel, Symfony</div>
            <h4 class="category">Udemy.com
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2016</p>
            <div class="h5">Curso de JAVA</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Finalización de Curso de JAVA</div>
            <h4 class="category">Platzi.com
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2011 - 2015</p>
            <div class="h5">Ingeniería en Computación y Sistemas</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Graduado como Ingeniero en Computación y Sistemas</div>
            <h4 class="category">Universidad Popular de Nicaragua
            </h4>
        <!--     <ul>
              <li>Actualmente cursando el últmo año
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

