<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Proyectos</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/invernic.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">INVERNIC</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Inversiones de Nicaragua, dedicada a productos Financieros </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> dedico mantenimiento al sitio en ASPX </h5>
              <a href="http://www.invernic.com/" target="_blank"
                 class="btn btn-primary stretched-link">ir al sitio</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/tdel.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">TDEL</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Sistema para TEST de dependencia Emocional </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> Se desarrolló sitio web completo en PHP </h5>
              <a href="http://www.tdel.es" target="_blank" class="btn btn-primary  stretched-link ml-2 mr-5 ">ir al sitio</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/psyreligion2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">PSyReligion</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Aplicación Web de Test Psicológico basado en imágenes, que permite luego analizar los datos con IA</h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> Se desarrolló sitio web completo en PHP </h5>
              <a href="http://www.psyreligion.com/" target="_blank" class="btn btn-primary stretched-link">ir al sitio</a>
            </div>
          </div>
        </div>
      </div>

<!-- 
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/deppip.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Deployment Pipeline</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Trabajo práctico de un deployment pipeline para integración continua de un proyecto Maven </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> Travis, Maven, Docker, Codeceptjs, Heroku, JUnit </h5>
              <a href="https://github.com/FrancoBobadilla/trabajoIntegrador-IngSoft3" class="btn btn-primary stretched-link">GitHub</a>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>

