<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
                <img src="assets/images/MeChaleco.jpg" alt="Image" />
            </div>
            <div class="h2 title">Lesner Villega</div>
            <p class="category">Ingeniero en Computación y Sistemas</p>
            <p class="category">Fundador de BinaryCode LA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-about></app-about>
